<footer fxLayout="row" fxLayoutAlign="center" class="c-footer">
  <div fxFlex="33" fxShow fxLayout="column">
    <address class="address">
      <section>IES Politécnico Jesús Marín Calle Politécnico 1,29007, Málaga</section>
      <section> Tlf.:951297914 - 904914</section>
      <section fxHide.xs>Fax: 951297957 - 904957</section>
    </address>
  </div>
  <div fxFlex="34" fxLayoutAlign="center center">
    Usted está conectado desde Internet con la IP :
    <span class="ip">
      92.59.203.128
    </span>
  </div>
  <div fxFlex="33" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-instagram"></i>
  </div>

</footer>
